*{
  margin: 0;
  padding: 0;
  border: 0;
}

:root{
    --darkblue: #111B21;
    --black: #2D2D2D;
    --white: #ffffff;
    --cream: #ECE5DD;

    --verde1: #DCF8C6;
    --verde2: #25D366;
    --verde3: #128C7E;
    --verde4: #075E54;

    
    --xs: 0.875rem;
    --s: 1rem;
    --m: 1.25rem;
    --l: 1.875rem;
    --xl: 2.25rem;
    --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

body{
    font-family: 'Roboto', sans-serif; 
    height: 100vh;

    background-color: var(--darkblue);
    background-image: url('../img/bh-wp2.png');
    background-position: center;
    background-size: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: var(--s);
}

.mini{
    font-size: 12px;
    color: #889198;
}

.container{
    width: 390px;
    background-color: var(--cream);
    background-image: url('../img/bh-wp.png');
    background-position: center;
    padding: 48px 24px;
    border-radius: 20px;
    text-align: center;
    border: var(--verde2) 3px solid;
}


.container figure img{
    margin: 8px;
    width: 260px;
}

.mensajes{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mensaje{
    padding: 12px;
    border-radius: 20px;
    text-align: right;
    box-shadow: var(--shadow);
}

.blanco{
    width: 233px;
    background-color: var(--white);
    margin-bottom: 24px;
}

.verde{
    width: 294px;
    background-color: var(--verde1);
    align-self: flex-end;
    margin-bottom: 24px;
}

.envio{
    display: flex;
    width: 100%;
}

.numero{
    box-sizing: border-box;
    width: 100%;
    background-color: var(--white);
    display: flex;
    padding: 12px 24px;
    border-radius: 48px;
    margin-right: 8px;
}

button{
    background: var(--verde3);
    border-radius: 100%;
    width: 48px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: var(--verde4);
    box-shadow: var(--shadow);
}

select{
    font-size: var(--xs);
    border-right: 1px solid;
    padding-right: 8px;
    background-color: transparent;
    
}

.numero input{
    width: 100%;
    font-size: var(--s);
    padding-left: 8px;
}

.numero input::placeholder{
    color: #889198;
}

@media screen and (max-width: 576px){
    body{
        display: block;
        width: 100%;
    }

    .container{
        box-sizing: border-box;
        width: 100%;
        border: none;
        border-radius: 0;
        height: 100vh;
    }

    .container figure{
        margin: 20px auto;
    }

    .mensajes{
        margin: 20px auto;
    }
}